# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Metro
.metro-health-check*

# Build
build/